/* INIZIO GENERAL */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: gg sans,Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

h1, h2{
  font-size: 2rem;
}

/* FINE GENERAL */

/* INIZIO HEADER */
header{
  width: 100%;
  height: 80px;
  background-color: #255ee9;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

header .logo{
  width: 20%;
  height: 100%;
}

nav.menu{
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  /* centrare gli elementi della lista */
  list-style: none;
}

nav ul li{
  margin-right: 15px;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

header .button{
  align-items: center;
  justify-content: flex-end;

  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 30px;
  background-color: white;
}



/* FINE HEADER */

/* INIZIO JUMBO */
.jumbotron{
  width: 100%;
  height: 500px;
  background-image: url(../IMG/jumbo.png);
  background-size: cover;
}

.jumbotron .content{
  width: 50%;
  color: white;
  text-align: center;
}

.jumbotron .content > *{
  padding-bottom: 50px;
}

.jumbotron .content .bottoni{
  justify-content: space-around;
}

.jumbotron .content .bottoni .button{
  align-items: center;
  justify-content: flex-end;

  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 30px;
  background-color: white;
}

.jumbotron .content .bottoni .button.bianco{
  color: black;
} 

.jumbotron .content .bottoni .button.bianco::before{
  content: '\2193';
  padding: 5px;
  font-size: 1.5rem;
}

.jumbotron .content .bottoni .button.scuro{
  background-color: #23272a;
}


/* FINE JUMBOTRON */


/* INIZIO MAIN */

                /* INIZIO BOX */

main .sfondo{
  width: 100%;
  height: 500px;
}
main .sfondo.bianco{
  background-color: white;
}

main .sfondo.grigio{
  background-color: lightgray;
}

main .sfondo .box-image{
  width: 60%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

main .sfondo .box-text{
  width: 40%;
  height: 400px;
  padding: 50px;
}

main .sfondo .box-text h2{
  margin-bottom: 30px;
}

main .prima.sfondo .box-image{
  background-image: url(../IMG/item1.svg);
}

main .seconda.sfondo .box-image{
  background-image: url(../IMG/item2.svg);
}

main .terza.sfondo .box-image{
  background-image: url(../IMG/item3.svg);
}

main .sfondo-grande{
  height: 1200px;
  background-color: lightgray;
}

main .sfondo-grande .container{
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  height: 1000px;
}

main .sfondo-grande .container h2{
  margin-bottom: 30px;
}

main .sfondo-grande .container .text{
  text-align: center;
  width: 80%;
}

main .sfondo-grande .container .box-image{
  width: 90%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../IMG/item4-big.svg);
}

main .sfondo-grande .container .cta{
  font-size: 2rem;
  line-height: 100px;
  height: 100px;
  margin-top: 30px;
  background-image: url(../IMG/stars.svg);
}

main .sfondo-grande .container .button{
  align-items: center;
  justify-content: flex-end;

  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 30px;
  color: white;
  background-color: #8ea1e1;
}

main .sfondo-grande .container .button::before{
  content: '\2193';
padding: 5px;
font-size: 1.5rem;
}


                  /* FINE BOX */

/* FINE MAIN */

/* INIZIO FOOTER */

footer{
  height: 600px;
  background-color: #24272A;
}

footer .top{
  padding-top: 70px;
  color: white;
  border-bottom: 1px solid #7289da;
  /* DEBUG */
  /* height: 600px; */
}

footer .top .col-social{
  width: calc(100% / 3);
  padding: 0 50px;
  /* DEBUG */
  height: 100%;
}

footer .text{
  font-size: 2rem;
  font-weight: bold;
  color: #7289da;
  margin-bottom: 20px;
}

.ico-social{
  font-size: 20px;
  color: white;
}

footer .top .col-social div.image{
  background-image: url(../IMG/ita.png);
  background-size: cover;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

footer .top .col-social div.image,
footer .top .col-social div.language{
  display: inline-block;
}

footer .top .col-social div.language::after{
  content: '\02C5';
}

footer .top .col-social i{
  margin-right: 20px;
  margin-top: 20px;
}

footer .top .col-menu{
  width: calc(100% / 6);
}

footer ul{
  list-style: none;
}

footer li:first-child{
  color: #7289da;
  font-weight: bold;
}

footer li{
  padding-bottom: 10px;
}

footer .bottom{
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 100px;
}

footer .button{
  align-items: center;
  justify-content: flex-end;

  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 30px;
  color: white;
  background-color: #8ea1e1;
}

/* FINE FOOTER */